/* Style Sheet for Body */

:root {
    --inner-padding: 10px 60px 10px 60px;
    --box-padding: 5px;
    --box-margin: 5px;
    --box-border: 3px solid black;
    --middle-margin: 5px 0px 5px 0px;
    --container-border: 4px solid black;
    --container-margin: 5px 0px 5px 0px;
    --blue-border: 2px solid rgb(0, 145, 255);
    --purple-border: 2px solid blueviolet;
    --green-border: 2px solid lime;
    --red-border: 2px solid red;
    --orange-border: 2px solid orange;
    --pink-border: 2px solid rgb(240, 89, 165);
    --yellow-border: 6px solid rgb(122, 122, 11);
}

/* WRAPPING BEHAVIOR */
.box-1C,
.box-2A-1,
.box-1D,
.box-1E {
    flex-wrap: wrap;
}

@font-face {
    font-family: source-sans-pro-light;
    src: url(./fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: source-sans-pro-extralight;
    src: url(./fonts/SourceSansPro-ExtraLight.otf);
}

body {
    background-blend-mode: normal, color;
    background-image: url(../style/images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
}

/* Banner Styling */
.container-A {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    margin: var(--container-margin);
}

.box-1A {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.title,
.three-words,
.button {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
}

.get-schooled {
    color: #FFF;
    text-align: center;
    font-family: source-sans-pro;
    font-size: 120px;
    font-weight: 700;
    margin: 146px 0px 0px 0px;
}

.three-words {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    color: #FFF;
    font-family: source-sans-pro;
    font-size: 16px;
    font-weight: 700;
    width: 320px;
    margin-top: -10px;
    padding-bottom: 40px;
}

.button {
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background: #C271FF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: source-sans-pro;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 200px;
}

.box-2A,
.box-2A-1A,
.box-2A-1B,
.box-2A-1C,
.box-2A-1D {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center;
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.title-box {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-self: center;
    color: #FFF;
    font-family: source-sans-pro-extralight;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    margin-top: -20px;
}

.box-2A-1 {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.purple {
    color: #C271FF;
    font-weight: 700;
    font-family: source-sans-pro;
}

.image,
.name,
.subtitle,
.quote,
.author,
.text {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    padding: var(--inner-padding);
}

.subtitle {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.narrow-margin {
    margin-top: -15px;
}

.box-2A-1 .image {
    height: 150px;
    width: 150px;
}

.circle {
    border-radius: 50%;
}

.name {
    color: #FFF;
    font-family: source-sans-pro;
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
    margin-top: -30px;
    margin-bottom: -7px;
}

.subtitle {
    text-align: center;
    color: #FFF;
    font-family: source-sans-pro-extralight;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.container-B {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 90.75rem;
    margin: var(--container-margin);
    background-color: #C271FF;
}

.box-1B {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-items: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.container-B .box-1B .image {
    padding: 0;
    margin: 120px 0px 120px 0px;
}

.box-1B-1 {
    display: flex;
    flex-direction: column;
    padding: var(--box-padding);
    margin: var(--box-margin);
    align-items: flex-start;
    height: fit-content;
}

.container-B .box-1B .circle {
    height: 160px;
    width: 160px;
}

.quote {
    color: #FFF;
    font-family: source-sans-pro-light;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    width: 743px;
    padding: 0;
}

blockquote {
    margin: 0 0 8px 40px;
}

.author {
    color: #FFF;
    font-family: source-sans-pro;
    font-weight: 700;
    line-height: 33.6px;
    padding: 0;
    font-size: 22px;
    margin: 0px 0px 0px 40px;
}

.author p {
    margin: 0;
    padding: 0;
}

.box-1B-1 .subtitle {
    margin: 0px 0px 0px 40px;
    color: #FFF;
    font-family: source-sans-pro-light;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
}

.subtitle p {
    margin: 0;
    padding: 0;
}

/* Container C */

.container-C {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    width: 100%;
    margin: var(--container-margin);
}

.container-C .title-box {
    margin: 50px 0 50px 0;
    color: #071629;
    font-family: source-sans-pro-light;
    font-size: 32px;
    font-weight: 300;
}

.box-1C,
.small-box-1,
.small-box-2,
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.small-box-1 .image {
    margin-right: 5px;
}

.box-1C-1,
.box-1C-2,
.box-1C-3,
.box-1C-4 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.text {
    /* border: var(--purple-border) */
}

.box-1C-1 .title,
.box-1C-2 .title,
.box-1C-3 .title,
.box-1C-4 .title {
    margin: var(--middle-margin);
}

/* COME BACK LATER */

.box-1C-1 .image,
.box-1C-2 .image,
.box-1C-3 .image,
.box-1C-4 .image {
    padding: 0 5px 50px 5px;
}

.container-D {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    width: 100%;
    margin: var(--container-margin);
    background-color: #071629;
    width: 90.75rem;
}

.box-1D {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.box-1D-1,
.box-1D-2,
.box-1D-3,
.box-1D-4 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
}

.box-1D-1 .title,
.box-1D-2 .title,
.box-1D-3 .title,
.box-1D-4 .title {
    margin: var(--middle-margin);
}

.container-D .title-box {
    margin-top: 26px;
}

.container-D .button {
    margin-bottom: 5px;
}

.container-E {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    border: var(--container-border);
    margin: var(--container-margin);
}

.box-1E,
.small-box-1E {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
    border: var(--box-border);
}

.box-1E-1,
.box-1E-2 {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-content: center; /* line behavior */
    padding: var(--box-padding);
    margin: var(--box-margin);
    border: var(--box-border);
}

.container-E .title-box {
    margin-top: 5px;
}

.small-box-1E .text {
    margin-top: 5px;
}