/* Styling for Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    border: 3px solid black;
    border-bottom: 0;
    padding: 5px;
}

.logo {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    float: left;
    border: 1px solid red;
    padding: 5px;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    float: right;
    border: 1px solid black;
}

.link {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    border: 1px solid red;
}

#link-left {
    padding: 10px 25px 10px 25px;
    margin-left: 5px;
}

#link-middle {
    padding: 10px 25px 10px 25px;
    margin: 5px;
}

#link-right {
    padding: 10px 25px 10px 25px;
    margin-right: 5px;
}

.logo-link {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    border: 1px solid lime;
    padding: 10px 50px 10px 50px;
}